[submodule "basis"]
	path = basis
	url = ../storage-windows-Win32-basis
[submodule "stage"]
	path = stage
	url = ../storage-windows-Win32-stage
[submodule "cover"]
	path = cover
	url = ../storage-windows-Win32-stage
